@model CKS_DevloperTask.ViewModels.ToDoViewModelsCreateEdit  
@{
    ViewData["Title"] = "ToDos";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<section class="content">
   <div class="container-fluid">
       <div class="card">
           <div class="card-header">
               ADD NEW TASK
           </div>
           <div class="card-body">
               <form asp-action="Create" asp-controller="Todos">
                   <div class="row">
                       <div class="col-md-6 form-group">
                           <label asp-for="TaskName" class="lable-Control"></label>
                           <input type="text" placeholder="Enter Your TaskName" class="form-control" name="TaskName" asp-for="TaskName" />
                       </div>

                       <div class="col-md-4 form-group">
                           <label>Due Date:</label>
                           <div class="input-group date" id="reservationdate" data-target-input="nearest">
                               <input type="text" class="form-control datetimepicker-input" asp-for="DueDate" data-target="#reservationdate" />
                               <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                   <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-2 form-group">
                           <label asp-for="Priority" class="lable-Control">Priority</label>
                           <input type="number" class="form-control" name="Priority" asp-for="Priority" />
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-6 form-group">
                           <label asp-for="Notes" class="lable-Control"></label>
                           <textarea cols="66" rows="5" class="form-control" name="Notes" asp-for="Notes">
                           </textarea> 
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-6 form-group">
                           <input type="checkbox" class="form-control" name="IsRemind" asp-for="IsRemind" /> RemindMe                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12 form-group">
                           <input type="submit" class="pull-right btn btn-primary" value="Submit" />
                           <a href="~/Todos/Index" class="btn btn-link text-capitalize pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Go Back To List</a>
                       </div>
                   </div>
               </form>
           </div>
           <div class="card-footer">

           </div>
       </div>
    </div>
</section>